spleeter==2.3.2
yt-dlp==2023.12.30
pydub==0.25.1
numpy==1.24.3
scipy==1.10.1
librosa==0.10.1
midiutil==1.2.1
music21==9.1.0
tensorflow==2.13.0
ffmpeg-python==0.2.0
streamlit==1.29.0
matplotlib==3.7.2
soundfile==0.12.1